exportClasses(fInstrument)
export(DataProvider)
exportMethods(setData)
exportMethods(getData)
export(fInstrumentFactory)
exportMethods(getValue)
exportMethods(show)
import(fOptions)
import(fExoticOptions)
import(fAsianOptions)
import(timeSeries)
import(lubridate)
importFrom("methods", "new")
