export(Asian)
export(Binary)
exportClasses(DataProvider)
exportClasses(fInstrument)
export(DataProvider)
export(fInstrumentFactory)
exportMethods(getData)
exportMethods(getValue)
exportMethods(setData)
exportMethods(show)
export(StandardBarrier)
export(Vanilla)
