exportClasses(fInstrument)
exportMethods(getValue)
export(fInstrumentFactory)
import(fOptions)
import(fExoticOptions)
import(fAsianOptions)
import(timeSeries)
import(lubridate)
importFrom("methods", "new")